Section "Module"
  Disable "glamoregl"
  Load "modesetting"
EndSection

Section "Device"
  Identifier "nvidia"
  Driver "nvidia"
  BusID "PCI:bus_id:0:0"
  Option "AllowEmptyInitialConfiguration"
EndSection

Section "Files"
  ModulePath   "/usr/lib64/nvidia/xorg"
  ModulePath   "/usr/lib64/xorg/modules"
EndSection
